real-estate-object.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="realEstateObject">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="address" type="xs:string" />
                <xs:element name="contractList">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="endDate" type="xs:dateTime" />
                            <xs:element name="number" type="xs:string" />
                            <xs:element name="signed" type="xs:boolean" />
                            <xs:element name="signedDate" type="xs:dateTime" />
                            <xs:element name="startDate" type="xs:dateTime" />
                            <xs:element maxOccurs="unbounded" name="tenantsList">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="email" type="xs:string" />
                                        <xs:element name="name" type="xs:string" />
                                        <xs:element name="phone" type="xs:unsignedInt" />
                                        <xs:element name="surname" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="electricity" type="xs:boolean" />
                <xs:element name="gas" type="xs:boolean" />
                <xs:element maxOccurs="unbounded" name="itemsList">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="condition" type="xs:string" />
                            <xs:element name="description" type="xs:string" />
                            <xs:element name="name" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" name="keysList">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:unsignedInt" />
                            <xs:element name="numberOfCopies" type="xs:unsignedByte" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="numberOfFloors" type="xs:unsignedByte" />
                <xs:element name="ownerList">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="email" type="xs:string" />
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="phone" type="xs:unsignedInt" />
                            <xs:element name="surname" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="price" type="xs:decimal" />
                <xs:element maxOccurs="unbounded" name="roomsList">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="condition" type="xs:string" />
                            <xs:element name="description" />
                            <xs:element maxOccurs="unbounded" name="itemsList">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="condition" type="xs:string" />
                                        <xs:element name="description" type="xs:string" />
                                        <xs:element name="name" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="name" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="sewerage" type="xs:boolean" />
                <xs:element name="squareMeters" type="xs:decimal" />
                <xs:element maxOccurs="unbounded" name="tenantList">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="email" type="xs:string" />
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="phone" type="xs:unsignedInt" />
                            <xs:element name="surname" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="type" type="xs:string" />
                <xs:element name="water" type="xs:boolean" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>